body {
    background-color: #0F1113 !important;
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif !important;
}


.c-nav_banner {
    grid-column-gap: .5em;
    grid-row-gap: .5em;
    background-color: #4dc072;
    color: #0f1113;
    border-radius: .26em;
    justify-content: center;
    align-items: center;

    margin-bottom: .5em;
    padding: .5em;
    display: flex;
    position: relative;
    margin-top: 10px;

}

.c-nav_wrap {
    padding: 0 50px;
}

.c-wrap.cc-align_center {
    text-align: center;
    align-items: center;
}

.c-wrap {
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.c-paragraph_xs {
    font-size: .78em;
    line-height: 1.6;
    color: #0f1113;
}

.cc-700 {
    font-weight: 700;
}

.c-wrap.cc-horizontal {
    flex-direction: row;
    text-decoration: none;
}

.c-icon_s {
    justify-content: center;
    align-items: center;
    width: .83em;
    height: .83em;
    display: flex;
    color: #0F1113 !important;
}

.c-nav_baner-close {
    cursor: pointer;
    justify-content: center;
    align-items: center;
    padding-left: .8em;
    padding-right: .8em;
    font-size: 1em;
    font-weight: 700;
    display: flex;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: auto;
    right: 0%;
    color: #0F1113;
    text-decoration: none;
}

.navbarr {

    background-color: #fff;
    border-radius: .26em;

    justify-content: space-between;
    align-items: center;
    height: 5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    display: flex;
    position: relative;
}

.c-nav_logo-wrap {
    justify-content: center;
    align-items: center;
    width: 6.88em;
    height: 1.67em;
    display: flex;
}

.c-nav_logo {
    width: 100%;
    height: 100%;
}

.menu-items ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.c-text_ss {
    font-size: 14.0762px;
    line-height: 1.2;
    padding-bottom: 4px;
    color: #fafafa;
}

.c-text_xs {
    font-size: 12px;
    line-height: 1.2;
}

.menu-items ul li {
    position: relative;
}

.menu-items ul li:hover .c-nav_dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    position: relative;

}
.menu-items ul li:hover .hide {
 display: block;

}
.c-nav_dropdown-menu.cc-solutions {
    width: 47em;
    grid-template-columns: auto auto auto;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.c-nav_dropdown-menu {
    grid-column-gap: 3.13em;
    grid-row-gap: 3.13em;
    background-color: #1c1f21;
    border-top-left-radius: .52em;
    border-bottom-left-radius: .52em;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto;
    grid-auto-columns: 1fr;
    width: 100%;
    opacity: 0;
    padding: 2.3em 2.9em;
    display: grid;
    position: absolute;
    top: 37px;
    left: 0;
    right: 0;
}

.solutionss {
    cursor: pointer;
}

.solutionss img {
    width: 7.81em;
    height: 7.81em;
}

.c-text_s {
    font-size: .89em;
    line-height: 1.2;
    color: rgb(250, 250, 250);
    padding: 10px 0px;
}

.c-paragraph_s {
    font-size: .83em;
    line-height: 1.6;
    color: rgb(250, 250, 250);
}

.cc-text_purple-500 .c-text_s {
    color: #907adf !important;
}

.cc-text_purple-500 {
    font-weight: 600;
    display: flex;
    gap: 10px;
    align-items: center;
}

.c-nav_line {
    border-left: .05em solid #2b2b2b;
    width: .05em;
}

.w-node-_799ffec2 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.c-nav_dropdown-menu_item:hover {
    background-color: #131618;
}

.c-nav_dropdown-menu_item {
    gap: 1em;
    border-radius: .26em;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: .6em .8em;
    display: flex;
}

.c-nav_dropdown-menu_icon {
    width: 1.04em;
    height: 1.04em;
}

.c-nav_dropdown-menu_wrap.cc-use-cases.w--open {
    /* height: 17em; */
    display: flex;
    width: 100%;
}


.c-nav_dropdown-menu_wrap.cc-use-cases {
    grid-column-gap: 0em;
    /* height: 24em; */
    /* padding-left: 5em; */
    top: 4.2em;
}

.c-nav_dropdown-menu.cc-use-cases {
    grid-template-columns: 1fr 1fr;
    width: 40em;
}

.c-nav_dropdown-menu.cc-use-cases_right {
    background-color: #131618;
    border-radius: 0 .52em .52em 0;
    flex-direction: column;
    grid-template-columns: auto auto;
    width: 30em;
    display: flex;
}

.casses {
    left: -16rem;
}
.hide{
    display: none;
}
.boxx {
    border-radius: .25em;
    padding: .5em;
    border: .05em solid rgb(43, 43, 54);
    background-color: rgb(28, 31, 33);
}
.content {
    padding: 10px;
    cursor: pointer;
    transition: .3s;
}

.content:hover {
    background-color: #131618;

}

.content p {
    font-size: 10.2804px;
    color: #d2d2d3;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-height: 3em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 0;
}

.titlee {
    font-size: 11.7302px;

    color: white;
}

.c-nav_dropdown-menu.cc-resources {
    grid-template-columns: auto auto;
    width: 32em;
}
.c-nav_dropdown-menu.cc-resources_right {
    background-color: #131618;
    border-radius: 0 .52em .52em 0;
    flex-direction: column;
    grid-template-columns: auto auto;
    width: 32em;
    display: flex;
}

.c-nav_dropdown-menu.cc-about {
    grid-template-columns: auto auto;
    width: auto;
    display: block;
}

.c-nav_dropdown-menu.cc-about_right {
    background-color: #131618;
    border-radius: 0 .52em .52em 0;
    flex-direction: column;
    grid-template-columns: auto auto;
    width: 22em;
    display: flex;
}


.arrow-icon {
    transition: transform 0.4s;
    margin-bottom: 5px;
}

.arrow-icon.active {
    transform: rotate(180deg) !important;
    margin-bottom: 0px;
    margin-top: 5px;

}




.menu-items ul li a {
    white-space: nowrap;
    background-color: rgba(19, 22, 24, 0);
    border-radius: .26em;
    padding: .5em 1em;
    font-size: 14.6162px;
    align-items: center;
    line-height: 1.2;
    transition: all .5s cubic-bezier(.165, .84, .44, 1);
    color: black;
    text-decoration: none;
}

.menu-items ul li a:hover {
    background-color: #131618;
    color: white;
}


.c-button {
    z-index: 1;
    background-color: #4dc072;
    color: #0f1113;
    text-align: center;
    border-radius: .26em;
    justify-content: center;
    align-items: center;
    padding: 1.04em 2.6em;
    font-size: 14.2064px;
    font-weight: 700;
    line-height: 1.2;
    transition: all 1s cubic-bezier(.165, .84, .44, 1);
    display: flex;
    position: relative;
    text-decoration: none;
}

.c-button:hover {
    transform: translateY(-.3em);
}

.fixed {
    position: fixed;
    width: 100%;
    z-index: 99;
    padding-left: 1.5em;
    padding-right: 1.5em;
}


.hamburger {
    display: none;
}

.mobile-navigation {
    display: none;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.mobile-navigation.open {
    display: block;
    opacity: 1;
}
 /* dropdown menu */
 /* .dropmenu{
    display: none;
} */

.navbarr{
    margin-top: 10px;
}

.casse{
    width: 100%;
    margin-top: 1em;
    padding: 1em;
    background-color: #131618;
}


@media(max-width:1200px) {
    .menu-items {
        display: none;
    }

    .navbarr {

        background-color: #fff;
        border-radius: .26em;

        justify-content: space-between;
        align-items: center;
        height: 5em;
        /* padding-left: 1.5em;
        padding-right: 1.5em; */
        display: flex;
        position: relative;
    }
}

@media(max-width:776px) {
    .c-nav_wrap {
        padding: 0 15px;
        position: relative;
    }

    .hamburger {
        display: block;
        height: 24px;
        width: 24px;
    }

    .menu-items.dropmenu{
        display: none;
    }

    .menu-items.dropmenu.activ-drop-list{
        display: flex;
        flex-direction: column;
    }
    

    .mobile-navigation {

        position: absolute;
        top: 75px;
        left: 0;
        right: 0;
        overflow: hidden;
        height: 600px;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 10px;
        background-color: #1c1f21;
    }

    .c-button {
        display: none;
    }

    .hidden {
        display: none;
    }

    .c-nav_menu-wrap {
        background-color: #1c1f21;
        border-radius: .26em;
        width: 100%;
        height: 75vh;
        max-height: 75vh;
        margin-top: .5em;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 1.5em;
        font-size: 12px;
        position: absolute;
        overflow: scroll;
        transform: translateY(0px);
        transition: transform 400ms ease 0s;
    }

    .mobile-items ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0;
        gap: 2em;
        padding: 1.5em;
    }

    .mobile-items ul li a {
        white-space: nowrap;
        background-color: rgba(19, 22, 24, 0);
        border-radius: .26em;
        padding: .6em .8em;
        font-size: 14.872px;
        line-height: 1.2;
        transition: all .5s cubic-bezier(.165, .84, .44, 1);
        color: rgb(250, 250, 250);
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .c-icon.cc-s {
        width: .8em;
        height: .8em;
    }

    .c-button2 {
        display: block !important;

        margin: 1.5em;
    }

    .fixed {
        position: fixed;
        width: 100%;
        z-index: 99;
        padding: 1em;
    }
    
    .navbarr {
        padding: 1em;
        display: flex;
        height: auto;
    }
    .navbarr{
        margin-top: 0;
    }
}

@media(max-width:500px) {


    .hidden {
        display: none;
    }

    .c-paragraph_xs {
        font-size: .7em;
    }

    .c-nav_logo-wrap {
        width: 86px;
        height: 21px;
    }

    .navbarr {
        /* padding: 1em; */
        display: flex;
        height: auto;
    }
    .c-text_s{
        font-size: 14.872px;
    }
    .c-paragraph_s{
        font-size: 14.872px;
    }
    .c-nav_dropdown-menu_icon{
        width: 20px;
        height: 20px;
    }
    .c-text_ss{
        font-size: 14.872px        ;
    }
    .mobile-items ul li a{
        align-items: self-start;
    }
    .titlee{
        font-size: 14.872px
        ;
    }
}