body{
    background-color: #0F1113 !important;
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif !important;
}


.c-nav_banner {
    grid-column-gap: .5em;
    grid-row-gap: .5em;
    background-color: #4dc072;
    color: #0f1113;
    border-radius: .26em;
    justify-content: center;
    align-items: center;
     
    margin-bottom: .5em;
    padding: .5em;
    display: flex;
    position: relative;
    margin-top: 10px;
   
}

.c-nav_wrap{
    padding: 0 50px;
}
.c-wrap.cc-align_center {
    text-align: center;
    align-items: center;
}
.c-wrap {
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}
.c-paragraph_xs {
    font-size: .78em;
    line-height: 1.6;
    color:#0f1113 ;
}
.cc-700 {
    font-weight: 700;
}
.c-wrap.cc-horizontal {
    flex-direction: row;
    text-decoration: none;
}

.c-icon_s {
    justify-content: center;
    align-items: center;
    width: .83em;
    height: .83em;
    display: flex;
    color: #0F1113 !important;
}
.c-nav_baner-close {
    cursor: pointer;
    justify-content: center;
    align-items: center;
    padding-left: .8em;
    padding-right: .8em;
    font-size: 1em;
    font-weight: 700;
    display: flex;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: auto;
    right: 0%;
    color: #0F1113;
    text-decoration: none;
}

.navbarr {
    grid-column-gap: 2em;
    grid-row-gap: 2em;
    background-color: #1c1f21;
    border-radius: .26em;
    grid-template-rows: auto;
    grid-template-columns: 1fr 2.7fr 1.2fr;
    grid-auto-columns: 1fr;
    justify-content: space-between;
    align-items: center;
    height: 5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    display: grid;
    position: relative;
}
.c-nav_logo-wrap {
    justify-content: center;
    align-items: center;
    width: 6.88em;
    height: 1.67em;
    display: flex;
}
.c-nav_logo {
    width: 100%;
    height: 100%;
}

.menu-items ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu-items ul li{
    position: relative;
}
.menu-items ul li a{ 
        white-space: nowrap;
        background-color: rgba(19,22,24,0);
        border-radius: .26em;
        padding: .5em 1em;
        font-size: 1.07em;
        line-height: 1.2;
        transition: all .5s cubic-bezier(.165,.84,.44,1);
    color: rgb(250, 250, 250);
    text-decoration: none;
}
.menu-items ul li a:hover{
    background-color: #131618;
}
.c-button {
    z-index: 1;
    background-color: #4dc072;
    color: #0f1113;
    text-align: center;
    border-radius: .26em;
    justify-content: center;
    align-items: center;
    padding: 1.04em 2.6em;
    font-size: 14.2064px;
    font-weight: 700;
    line-height: 1.2;
    transition: all 1s cubic-bezier(.165,.84,.44,1);
    display: flex;
    position: relative;
    text-decoration: none;
}

.c-button:hover{
    transform: translateY(-.3em);
}

.hamburger{
    display: none;
}
@media(max-width:1200px){
    .menu-items {
        display: none;
    }
    .navbarr {
        grid-column-gap: 2em;
        grid-row-gap: 2em;
        background-color: #1c1f21;
        border-radius: .26em;
        grid-template-rows: auto;
        grid-template-columns: 1fr  1fr;
        grid-auto-columns: 1fr;
        justify-content: space-between;
        align-items: center;
        height: 5em;
        padding-left: 1.5em;
        padding-right: 1.5em;
        display: grid;
        position: relative;
    }
}

@media(max-width:776px){
    .c-nav_wrap{
        padding: 0 15px;
    }
    .hamburger{
        display: block;
        height: 24px;
        width: 24px;
    }
}
@media(max-width:500px){
    .c-button{
        display: none;
    }
    .hidden{
        display: none;
    }
    .c-paragraph_xs{
        font-size: .7em;
    }
    .c-nav_logo-wrap{
        width: 86px;
        height: 21px;
    }
    .navbarr {
       padding: 1em;
        display: flex;
height: auto;
    }
}